문제 출처 : https://school.programmers.co.kr/learn/courses/30/lessons/81301

이 문제는 'one4seveneight'과 같은 입력이 들어오면 영단어를 숫자로 변경하여 1478로 반환하는 문제이다.

In [ ]:
def solution(s):
    num = {'zero': '0', 'one': '1', 'two': '2',
          'three': '3', 'four': '4', 'five': '5',
          'six': '6', 'seven': '7', 'eight': '8', 'nine': '9'}
    
    answer = []
    temp = []
    for char in s:
        if char.isalpha():
            temp.append(char)
            if ''.join(temp) in num:
                answer.append(num[''.join(temp)])
                temp = []
        else:
            answer.append(char)
            
    return int(''.join(answer))

우선 숫자 사전을 만들었다.

문자열을 순회하면서 만약 문자가 알파벳이라면 임시 변수에 문자열을 추가하고, 임시 변수 문자열이 숫자 사전에 있는지를 확인한다. 만약 있다면 숫자 사전에서 값을 가져온다. 

answer에는 문자열로 '1478'이 들어있을 것이고, 이를 정수형으로 변경하면 된다.